* {
  padding: 0;
  margin: 0;
}
.india {
  padding: 30px;
  margin: 20px;
  text-align: center;
  background-color: lawngreen;
}
main {
}
.blackhole {
  text-align: center;
  padding: 40px;
  text-align: center;
  margin-top: 50px;
  background-color: palegoldenrod;
  margin: 20px;
}
